<ion-header [translucent]="true">
  <ion-toolbar>
    <div slot="start" class="profile-group">
      <ion-button fill="clear" aria-label="perfil">
        <ion-icon slot="icon-only" name="person-circle" class="profile-icon"></ion-icon>
      </ion-button>
      <span class="profile-title">Nuevo Gasto</span>
    </div>
    <ion-buttons slot="end">
      <ion-button fill="clear" aria-label="perfil">
        <ion-icon slot="icon-only" name="person-circle" class="profile-icon"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>