<ion-header [translucent]="true">
  <ion-toolbar>
    <div slot="start" class="profile-group">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home"></ion-back-button>
      </ion-buttons>
      <ion-title class="profile-title">Nuevo Gasto</ion-title>
    </div>
    <ion-buttons slot="end">
      <ion-button fill="clear" aria-label="perfil">
        <ion-icon slot="icon-only" name="person-circle" class="profile-icon"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>