<ion-header [translucent]="true">
  <ion-toolbar>
    <div slot="start" class="profile-group">
      <ion-button fill="clear" aria-label="perfil">
        <ion-icon slot="icon-only" name="person-circle" class="profile-icon"></ion-icon>
      </ion-button>
      <span class="profile-title">Gasto Facil</span>
    </div>
    <ion-buttons slot="end">
      <ion-button fill="clear" aria-label="Notificaciones" class="notification-icon">
        <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-fab vertical="bottom" horizontal="end">
  <ion-fab-button>
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-content [fullscreen]="true">
  

  <div id="container">

  </div>
</ion-content>